<!DOCTYPE html>
<html>
  <head>
    <title>Mailer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if User.find_by(id: session[:user_id]).present? %>
      <%= link_to "mypage",users_show_path(User.find_by(id: session[:user_id]).id) %>
      <%= link_to "post",posts_new_path(User.find_by(id: session[:user_id]).id) %>
    <% else %>
      <%= link_to "sign up",users_new_path %>
      <%= link_to "log_in",sessions_new_path %>
    <% end %>>    
    <%= yield %>
  </body>
</html>
